# Classification Matrix Generator

In [318]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook

## DataSource

In [319]:
# 0 = material classify matrix, 1 = column classify matrix
SWITCHER = 1

# The dataSource in this project muct be one of the two, the G_ERP_database, which is for material classification, 
# or the col_classify_matrix, which is ofr column clsassification
source = [
    'G_ERP_database_v1_title_classify_v2_Add_missed_materials_v3.csv',
    'col_classify_matrix_trimed_20200330.csv'
         ]

bom = pd.read_csv('DataSource/'+source[switcher] , encoding="ISO-8859-1")

In [320]:
# Check if we can read the Databas
bom

,DOC_ID,material,brand,style,non material rows,item,description,spec,width:,weight:,...,colorway-4,colorway-5,colorway-6,colorway-7,colorway-8,supplier,ref,qty,price/unit,unit
0,0,scott usa,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,scott usa,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,scott usa,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,scott usa,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,scott usa,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3828,3828,"3.55', '3.5', '3.55', '3.55', '3.5', '0.82', '...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3829,3829,"3.5', '3.5', '0.82', '1.6', '0.47', '0.256032'...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3830,3830,"3.5', '3.5', '3.5', '0.82', '1.6', '3.3', '0.8...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3831,3831,"3.5', '3.345', '0.82', '0.84', '1.12', '1.12'...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3832,3832,"3.67', '3.5', '3.5', '3.5', '0.82', '1.12', '1...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Subject

In [321]:
# SUBJECT represents the tagert you want to find out.
# In other words, this must be the one of column name of the DataSource.
SUBJECT ='unit'

  SUBJECT_set_1 = [
        'brand', 'style', 'item', 'description', 'spec', 'width:', 'weight:', 'position', 'color_way', 'supplier', 'ref', 'qty', 'price/unit', 'unit',
    ]

# Calculating
* This part is the place calculating, don't delete it, or i will forget what I was doing.

In [322]:
bom_matrix = pd.DataFrame(bom[SUBJECT])

In [323]:
bom_matrix.insert(0, 'material', '', allow_duplicates = False)

In [324]:
bom_matrix

     material  unit
0                 0
1                 0
2                 0
3                 0
4                 0
...       ...   ...
3828              1
3829              1
3830              1
3831              1
3832              1

[3833 rows x 2 columns]

## Features
* The column you take from the database, as the document material,
* Since I want the func can adapt to both DataSource, Classification for material and column, here need to make a swicher.

In [325]:
if SWITCHER == 0:
    title = bom['non material rows']
    item = bom['item']
    description = bom['description']
    spec = bom['spec']
    width = bom['width:']
    weight = bom['weight:']
    position = bom['position']
    # colorway_1 = bom['colorway-1']
    # colorway_2 = bom['colorway-2']
    # colorway_3 = bom['colorway-3']
    # colorway_4 = bom['colorway-4']
    # colorway_5 = bom['colorway-5']
    # colorway_6 = bom['colorway-6']
    # colorway_7 = bom['colorway-7']
    # colorway_8 = bom['colorway-8']
    col_list = [title,
                item, 
                description, 
                spec, width, 
                weight, position,]
else:
    col_list = [bom['material']]

In [326]:
type(col_list)

list

* Loop through all the col in the dataBase, getting strings from it and add to the col 'material' of dataFrame 'SUBJECT'

In [327]:
x = 0
for col in col_list:
    bom_matrix['material'] = bom_matrix['material'].str.cat(col, sep =', ', na_rep='')
    x = x + 1

In [328]:
bom_matrix

                                               material  unit
0                                           , scott usa     0
1                                           , scott usa     0
2                                           , scott usa     0
3                                           , scott usa     0
4                                           , scott usa     0
...                                                 ...   ...
3828  , 3.55', '3.5', '3.55', '3.55', '3.5', '0.82',...     1
3829  , 3.5', '3.5', '0.82', '1.6', '0.47', '0.25603...     1
3830  , 3.5', '3.5', '3.5', '0.82', '1.6', '3.3', '0...     1
3831  , 3.5', '3.345',  '0.82', '0.84', '1.12', '1.1...     1
3832  , 3.67', '3.5', '3.5', '3.5', '0.82', '1.12', ...     1

[3833 rows x 2 columns]

* Save the Matrix

In [329]:
bom_matrix.to_csv('result/Matrix/' + SUBJECT + '_matrix.csv')

# Func
* combine all the calculating above in this func
* it can loop through all the columns to create matrix of classification for one time.
## Below is a test code to loop through the columns in database, not finish yet

def matrix_generator(dataSource ,switcher):
    SUBJECT_set_0 = ['color_way']
    SUBJECT_set_1 = [
        'brand', 'style', 'item', 'description', 'spec', 'width:', 'weight:', 'position', 'color_way', 'supplier', 'ref', 'qty', 'price/unit', 'unit',
    ]
    
    if switcher == 0:
        SUBJECT = SUBJECT_set_0
    else:
        SUBJECT = SUBJECT_set_1
    
    for subj in SUBJECT:
        bom = pd.read_csv(dataSource, encoding="ISO-8859-1")
        bom_matrix = pd.DataFrame(bom[SUBJECT])
        bom_matrix.insert(0, 'material', '', allow_duplicates = False) 
        if switcher == 0:
            title = bom['non material rows']
            item = bom['item']
            description = bom['description']
            spec = bom['spec']
            width = bom['width:']
            weight = bom['weight:']
            position = bom['position']
            # colorway_1 = bom['colorway-1']
            # colorway_2 = bom['colorway-2']
            # colorway_3 = bom['colorway-3']
            # colorway_4 = bom['colorway-4']
            # colorway_5 = bom['colorway-5']
            # colorway_6 = bom['colorway-6']
            # colorway_7 = bom['colorway-7']
            # colorway_8 = bom['colorway-8']
            col_list = [title,
                        item, 
                        description, 
                        spec, width, 
                        weight, position,]
        else:
            col_list = [bom['material']]

        for col in col_list:
            bom_matrix['material'] = bom_matrix['material'].str.cat(col, sep =', ', na_rep='')   
        bom_matrix.to_csv('result/Matrix/' + SUBJECT + '_matrix.csv')

matrix_generator('DataSource/'+source[switcher], 1)