# Column Classify
* This model is for classify a whole column in a bom
* To check if the column is a column for 'item' in a bom or for other specific describing such as "description", "ref", "colorway", etc.
* This medel is by tool "Skilearn", a little dirty but faster and easy way to creata a classify model.

In [2]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import recall_score, precision_score, f1_score

In [3]:
data = pd.read_csv('Matrix/col_classify_matrix_trimed.csv' ,encoding = 'ISO-8859-1', index_col = 0)

In [4]:
vectorizer = CountVectorizer(stop_words='english')

In [5]:
item_Matrix = data[['material',  'item']]

In [8]:
new_Matrix = item_Matrix[item_Matrix.material != 0]

In [9]:
new_Matrix

                                               material  item
0     lm792, sotl085-pu01, lm792, sotl085-pu01, ym11...     1
1     4560, please source, cifol-56 da8blh1 (e)     ...     1
2     sck-757s, sck-757s, cfc-39 dsbsos02a (h3), 3/4...     1
3     fe529-a, fe529-a, sck-757s, tba-use available ...     1
4     #9068 powerdry, sck-757s, l1025 sw, cifol-39 d...     1
...                                                 ...   ...
4686  0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...     0
4687  0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...     0
4688  0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...     0
4689  0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...     0
4690  0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...     0

[4691 rows x 2 columns]

In [12]:
Matrix = new_Matrix[item_Matrix.material != 1]

In [13]:
Matrix

                                               material  item
0     lm792, sotl085-pu01, lm792, sotl085-pu01, ym11...     1
1     4560, please source, cifol-56 da8blh1 (e)     ...     1
2     sck-757s, sck-757s, cfc-39 dsbsos02a (h3), 3/4...     1
3     fe529-a, fe529-a, sck-757s, tba-use available ...     1
4     #9068 powerdry, sck-757s, l1025 sw, cifol-39 d...     1
...                                                 ...   ...
4686  0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...     0
4687  0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...     0
4688  0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...     0
4689  0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...     0
4690  0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...     0

[4691 rows x 2 columns]

In [24]:
all_features = vectorizer.fit_transform(Matrix.material)

In [25]:
X_train, X_test, y_train, y_test = train_test_split(all_features, Matrix.material, 
test_size=0.3)

In [26]:
classifier = MultinomialNB()

In [27]:
classifier.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [28]:
x = vectorizer.transform(['fabric', 'shell fabric', '100% poliester'])

In [29]:
classifier.predict(x)

array(['0', '0', '0'], dtype='<U5944')